$purpure-color: #a7484c;
$white: #000;
$purpure-color-hover: #80282c;
@mixin for-small-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin for-laptop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 578px) {
    @content;
  }
}

@mixin for-small-phone {
  @media (max-width: 375px) {
    @content;
  }
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 100;

  &__box {
    padding: 32px;
    position: relative;
    width: 646px;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: #fff;
    // border-radius: 20px;

    @include for-tablet {
      width: 90%;
    }

    @include for-small-phone {
      width: 95%;
    }
  }

  &__nft-id {
    font-weight: bold;
    font-size: 24px;
    line-height: 115%;
    color: $purpure-color;
    margin-bottom: 22px;
    text-transform: uppercase;
  }

  &__nft-id-white {
    font-weight: 400;
    color: $purpure-color;
  }

  &__close-btn {
    padding: 15px 22px 14px;
    min-width: 120px;
    font-size: 14px;
    color:  $purpure-color;
    border: 2px solid $purpure-color;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 0px $purpure-color;
    background: #fff;
    font-family: AkiraExpanded-SuperBold, AkiraExpanded;
    font-weight: normal;
    color: #9F353A;
    line-height: 14px;

    &:hover {
      color: $purpure-color-hover;
      border-color: $purpure-color-hover;
    }

    @include for-small-phone {
      padding: 8px 10px;
      min-width: 100px;
    }
  }

  &__input {
    margin-bottom: 22px;
    width: 100%;
    height: 44px;
    padding-left: 15px;
    font-size: 18px;
    border:1px solid #000;
  }

  &__controls {
    display: flex;
    gap: 32px;
    justify-content: flex-end;

    @include for-small-phone {
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__send-btn {
    padding: 15px 22px 14px;
    min-width: 120px;
    font-size: 24px;
    line-height: 115%;
    background: $purpure-color;
    color: $white;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    font-family: AkiraExpanded-SuperBold, AkiraExpanded;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 14px;

    &:hover {
      background-color: $purpure-color-hover;
    }

    @include for-small-phone {
      padding: 8px 10px;
      min-width: 100px;
    }
  }

  // code for hide inputn[number] arrows

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
