.reveal__item {
  cursor: pointer;
  &:hover {
    .reveal__question-sign {
      display: none;
    }
    .reveal__text-hover {
      display: block!important;
    }
  }
  .reveal__top {
    position: relative;
    .ant-image {
      width: 100%;
    }
  }
  .item {
    .reveal__question-grey {
      display: inline-block;
      border: 2px solid #000;
      width: 20px;
      height: 20px;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      vertical-align: middle;
      margin-left: 3px;
    }
  }
}