.reveal__item {
  cursor: pointer;
  &:hover {
    .reveal__question-sign {
      display: none;
    }
    .reveal__text-hover {
      display: block!important;
    }
  }
  .reveal__top {
    position: relative;
    .reveal__image {
      width: 100%;
    }
    .reveal__question-sign {
      font-size: 130px;

    }

    .reveal__text-hover {
      font-size: 40px;
      font-family: BebasKai, serif;
      display: none;
    }
    .reveal__question-sign, .reveal__text-hover {
      color: #9F353A;
      font-weight: 800;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .item {
    .reveal__question-grey {
      display: inline-block;
      border: 2px solid #000;
      width: 20px;
      height: 20px;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      vertical-align: middle;
    }
  }
}