$blue-color: #9F353A;
$white: #fff;
$black: #000;
.shareable-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $white;
  outline: 1px solid $blue-color;
  min-width: 20px;
  min-height: 20px;
  background-color: $white;
  margin-right: 30px;
  transition: all 0.3s ease-in-out;


  &__active {
    background-color:$blue-color;
  }
}