.no-nfts,
.link-drop {
  .content {
    padding: 99px 0 80px 0;

    .banner {
      width: 100%;
      height: 348px;
      background: #1C1C1C url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/AirdropRules/TigerTranparent3x.png') no-repeat center 0/43%;
      position: relative;

      .ant-image {
        position: absolute;
        bottom: -7px;
        left: 50%;
        transform: translateX(-50%);
      }

      .connect-btn {
        width: 256px;
        height: 61px;
        background: #9F353A;
        border-radius: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        div {
          font-size: 18px;
          font-family: AkiraExpanded-SuperBold, AkiraExpanded;
          font-weight: normal;
          color: #FFFFFF;
          line-height: 21px;
        }

        img {
          position: absolute;
          width: 90px;
          top: -5px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }


  }
}

@media all and (max-width: 769px) {

  .no-nfts,
  .link-drop {
    .content {
      padding-top: .59rem;
    }
  }

  .footer {
    padding: 0;

    .footerHeader {
      padding-top: 0.41rem;

      a {
        h1 {
          width: 0.72rem;
          height: 0.67rem;
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/TORAIcon/TORAicon@3x.png') no-repeat;
          background-size: contain;
          text-indent: -200%;
          margin: 0 auto;
          overflow: hidden;
        }
      }

      ul {
        padding: 0.3rem 0.8rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          a {
            display: inline-block;
            width: 0.36rem;
            height: 0.36rem;

          }
        }

        li:nth-of-type(1) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Openseaicon@3x.png') no-repeat;
          background-size: contain;
        }

        li:nth-of-type(2) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Discordicon@3x.png') no-repeat;
          background-size: contain;
        }

        li:nth-of-type(3) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Twittericon@3x.png') no-repeat;
          background-size: contain;
        }
      }
    }

    .footerTitle {
      height: 0.85rem;
      margin-top: 0.3rem;

      p {
        width: 100%;
        font-size: 0.12rem !important;
        text-align: center;
        line-height: 0.85rem;
      }
    }

  }
}

.w {
  width: calc(100% - 600px);
  margin: 0 auto;
}

.footer {
  background: #000;
  padding-top: 87px;

  .footerTitle {
    border-top: 1px solid #474747;
    margin: 48px auto 0;

    p {
      font-size: 18px;
      font-family: SourceHanSansCN-Normal, SourceHanSansCN, serif;
      color: #808080;
      text-align: center;
      line-height: 145px;
    }
  }
}

@media all and (min-width: 769px) {
  .footer {
    padding: 0;


    .footerHeader {
      padding-top: 41px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        h1 {
          width: 72px;
          height: 67px;
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/TORAIcon/TORAicon@3x.png') no-repeat;
          background-size: contain;
          text-indent: -200%;
          margin: 0 auto;
          overflow: hidden;
        }
      }

      ul {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          a {
            display: inline-block;
            width: 36px;
            height: 36px;

          }
        }

        li:nth-of-type(1) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Openseaicon@3x.png') no-repeat;
          background-size: contain;
        }

        li:nth-of-type(2) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Discordicon@3x.png') no-repeat;
          background-size: contain;
        }

        li:nth-of-type(3) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Twittericon@3x.png') no-repeat;
          background-size: contain;
        }
      }
    }

    .footerTitle {
      height: 85px;
      margin-top: 30px;

      p {
        width: 100%;
        font-size: 16px !important;
        text-align: center;
        line-height: 85px;
      }
    }

  }
}