@font-face {
  font-family: AkiraExpanded;
  src:url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/font/AkiraExpandedDemo.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: BebasKai;
  src:url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/font/BebasKai.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceHanSansCN-Normal;
  src:url("https://tora-assets.oss-cn-hongkong.aliyuncs.com/font/NotoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}