
.w {
  margin: 0 auto;
}

.main {
  padding-top: 99px;

  .contBase {
    background: #1C1C1C;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 0.417375rem solid #fff;
      border-right: 0 solid transparent;
      border-left: 100vw solid transparent;
      position: absolute;
      top: 0;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-bottom: 0.417375rem solid #fff;
      border-left: 0 solid transparent;
      border-right: 100vw solid transparent;
      position: absolute;
      bottom: 0;
    }

    h2 {
      font-size: 32px;
      font-family: AkiraExpanded-SuperBold, AkiraExpanded, serif;
      font-weight: normal;
      color: #FFFFFF;
      line-height: 37px;
      text-align: center;
      margin-bottom: 100px;
    }
  }

  .h2Block {
    font-size: 32px;
    font-family: AkiraExpanded-SuperBold, AkiraExpanded, serif;
    font-weight: normal;
    color: #212121;
    line-height: 32px;
    text-align: center;
    margin-bottom: 100px;


  }

  .listBox,.teamList {
    display: grid;
    place-items: center;
  }

  #Species, #Airdrop, #FAQ {
    margin-top: 150px;
    padding-top: 150px;
  }

  #Tier, #Team {
    margin-top: 50px;
    padding-top: 150px;
  }

  #content1 {
    background: #1C1C1C;
    position: relative;
    padding-bottom: 300px;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-bottom: 0.417375rem solid #fff;
      border-left: 0 solid transparent;
      border-right: 100vw solid transparent;
      position: absolute;
      bottom: 0;
    }

    .c1W {
      margin: 0 auto;
    }

    .c1Right {
      //margin-top: 0.3rem;
      h2 {
        width: 100%;
        font-size: 72px;
        font-family: AkiraExpanded-SuperBold, AkiraExpanded, serif;
        font-weight: normal;
        color: #FFFFFF;
        line-height: 83px;
      }

      p {
        width: 100%;
        font-size: 21px;
        font-family: BebasKai, serif;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 30px;
        margin: 30px 0 66px;
      }
    }
  }

  //Introduction / World
  #content2 {
    position: relative;

    #World, #Introduction {
      margin-top: 50px;
    }

    #IntroductionBox {
      background: #fff;
      box-shadow: 0 71px 51px 0 rgba(28, 28, 28, 0.07);
      //margin-top: -0.75rem;
      //margin-top:-407px;
      padding-bottom: 109px;

      #Introduction {
        width: calc(100% - 160px);
        padding: 100px 0 0;

      }

      h2 {
        font-size: 32px;
        font-family: AkiraExpanded-SuperBold, AkiraExpanded, serif;
        font-weight: normal;
        color: #212121;
        line-height: 37px;
        text-align: center;
        margin-bottom: 100px;
      }

      .show_left {
        float: left;
        width: 54%;
      }

      .show_right {
        float: right;
      }

      .btn {
        margin-top: 70px;
      }
    }

    #WorldBox {
      margin-top: 50px;
      padding-bottom: 200px;

      #World {
        padding-top: 150px;
      }

      h2 {
        font-size: 32px;
        font-family: AkiraExpanded-SuperBold, AkiraExpanded, serif;
        font-weight: normal;
        color: #212121;
        line-height: 37px;
      }

      .show_left {
        float: right;
        width: 54%;

        .btn {
          margin-top: 83px;
        }
      }

      .show_right {
        float: left;
      }
    }

    #Introduction, #World {
      margin: 0 auto;

      .show_left {
        p {
          font-size: 18px;
          font-family: SourceHanSansCN-Normal, SourceHanSansCN, serif;
          font-weight: 400;
          color: #464646;
          line-height: 28px;
          padding-bottom: 20px;
        }

      }

      .show_right {
        width: 44%;
        max-width: 508px;

        img {
          width: 100%;
        }
      }
    }

  }

  //Species
  #content3 {
    padding-bottom: 190px;
  }

  //Tier
  #content4 {
    padding-bottom: 109px;
  }

  //Airdrop / Roadmap
  #content5 {
    padding-bottom: 300px;
    background: #1C1C1C url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/AirdropRules/TigerTranparent3x.png') no-repeat center 199px/95%;
    #Airdrop_content {
      background: rgba(0, 0, 0, 0.45);
      border: 2px solid #9F353A;
      padding: 30px 0;
      p {
        width: calc(100% - 144px);
        font-size: 18px;
        font-family: SourceHanSansCN-Normal, SourceHanSansCN, serif;
        font-weight: 400;
        color: #D9D9D9;
        margin: 0 auto;
        line-height: 48px;
      }

    }

    .btn {
      margin: 46px auto 0;
    }

    #Roadmap {
      margin-top: 64px;
      padding-top: 150px;

      .boxC5 {
        width: 60%;
        margin: 0 auto;

        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 1px;
          height: 100%;
          background: #494949;
          left: 56px;
          z-index: 1;
        }

        .liC5 {
          &:nth-of-type(1) {

          }

          &:nth-of-type(n+2) {
            margin-top: 120px;
          }
        }
      }
    }
  }

  #content6 {
    .teamList {
      &>div {
        height: auto;
        text-align: center;
      }
    }
  }
  //FAQ
  #content7 {
    padding-bottom: 200px;

    &:after {
      content: '';
      border: 0;
    }

    .collapseC7 {
      ::v-deep {
        .el-collapse {
          border-top-color: #979797;
        }

        .el-collapse-item__header {
          background: #1c1c1c;
          border-bottom: 1px solid #979797;
          height: auto;

          .header {
            padding: 32px 0 28px;
            width: 100%;

            p, span {
              font-size: 24px;
              font-family: BebasKai, serif;
              color: #FFFFFF;
              line-height: 30px;
              vertical-align: top;
            }

            p {
              width: calc(100% - 21px);
              display: inline-block;
              padding-left: 23px;
            }
          }

          .el-collapse-item__arrow {
            color: #fff;
            font-size: 20px;
          }
        }

        .el-collapse-item__header.is-active {
          border-bottom-color: transparent;
        }

        .el-collapse-item__wrap {
          background: #1c1c1c;
          border-bottom-color: #979797;

          .el-collapse-item__content {
            padding-bottom: 40px;

            div {
              font-size: 18px;
              font-family: SourceHanSansCN-Normal, SourceHanSansCN, serif;
              font-weight: 400;
              color: #D9D9D9;
              line-height: 28px;
              margin: 0 30px 0 41px;
            }
          }
        }
      }

    }
  }

  #content8 {
    height: 550px;
    background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/JoinTheToraSociety/TigerTranparent@1x.png') no-repeat center bottom;
    overflow: hidden;
    background-size: auto 90%;

    .boxC8 {
      margin-top: 160px;

      h2 {
        font-size: 32px;
        font-family: AkiraExpanded-SuperBold, AkiraExpanded, serif;
        font-weight: normal;
        color: #212121;
        line-height: 37px;
        text-align: center;
      }

      p {
        font-size: 21px;
        font-family: SourceHanSansCN-Normal, SourceHanSansCN, serif;
        font-weight: 400;
        color: #464646;
        line-height: 28px;
        text-align: center;
        margin: 30px 0 66px;
      }

      .btn {
        margin: 0 auto;
      }

    }
  }

}

.footer {
  background: #000;
  padding-top: 87px;

  .footerTitle {
    border-top: 1px solid #474747;
    margin: 48px auto 0;

    p {
      font-size: 18px;
      font-family: SourceHanSansCN-Normal, SourceHanSansCN, serif;
      color: #808080;
      text-align: center;
      line-height: 145px;
    }
  }
}

@media all and (max-width: 769px) {
  .listBox,.teamList {
    grid-template-columns: repeat(1, 100%);
    .meet {
      padding: 0 10px 0;
    }
  }
  .w {
    width: calc(100% - 20px);
  }
  .main {
    padding-top: 0;

    #content1 {
      padding: 1.3rem 0 0.34rem;

      .c1W {
        width: calc(100% - 30px);
        position: relative;

        .c1Left {
          float: none;
          width: 100%;
        }

        .c1Right {
          float: none;
          width: 100%;
          margin-top: 0;

          h2 {
            font-size: 36px;
            line-height: 36px;
            text-align: center;
          }

          p {
            text-align: center;
            margin: 20px 0 34px;
            font-size: 20px;
          }

          .btn {
            margin: 0 auto;
          }
        }
      }
    }

    #content2 {
      .w {
        width: calc(100% - 0.3rem);
      }

      #IntroductionBox {
        padding-bottom: 0.47rem !important;
        margin-top: -0.7rem;
      }

      #WorldBox {
        margin-top: 0.5rem;
        padding-bottom: 1.07rem;

        h2 {
          text-align: center;
          width: 100%;
          margin-bottom: 10px;
        }
      }

      #Introduction, #World {
        width: 100% !important;
      }

      #IntroductionBox, #WorldBox {
        //padding-bottom: 0.34rem;

        #Introduction {
          margin-top: 0 !important;
          padding-top: 0.4rem;

        }

        h2 {
          margin-bottom: 0.4rem;
          padding: 0 0.2rem;
          font-size: 0.21rem;
          line-height: 0.24rem;
        }

        .show_left {
          height: auto;
          width: 100%;
          margin: 0;

          p {
            font-size: 0.14rem;
            line-height: 0.2rem;
            padding: 0.05rem 0.1rem;
          }

          .btn {
            margin-top: 0.34rem;
          }
        }

        .show_right {
          width: 100%;
          max-width: 100%;
          padding: 0 0.1rem;
          margin-bottom: 0.2rem;

          img {
            width: 100%;
          }
        }
      }

    }

    #content3 {
      padding-bottom: 0;

      .meet {
        padding: 0 0.3rem 0;
      }
    }

    #content5 {
      padding-bottom: 1.01rem;

      .w {
        width: calc(100% - 50px)
      }

      #Airdrop_content {
        h3 {
          font-size: 0.18rem;
          line-height: 0.18rem;
        }

        p {
          width: calc(100% - 0.36rem);
          font-size: 0.14rem;
        }
      }

      .btn {
        margin: 0.34rem auto 0;
      }

      #Roadmap {
        margin-top: 0.07rem;
        padding-top: 1rem;

        .boxC5 {
          width: 100%;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 89%;
            background: #494949;
            left: 0.28rem;
          }

          .liC5 {
            &:nth-of-type(n+2) {
              margin-top: 0.4rem;
            }
          }
        }
      }
    }

    #content6 {
      padding-bottom: 0.4rem;

      .meet {
        padding: 0 0.2rem 0;
      }
      .teamList {
        &>div {
          padding-bottom: 0.5rem;
        }
      }
    }

    #content7 {
      padding-bottom: 100px;

      .w {
        width: calc(100% - 40px)
      }

      .collapseC7 {
        ::v-deep {
          .el-collapse-item__header {
            .header {
              padding: 13px 0 9px;
              line-height: 22px;

              p {
                font-size: 16px;
                line-height: 18px;
                padding-top: 6px;
              }

              span {
                font-size: 21px;
              }
            }
          }

          .el-collapse-item__wrap {
            .el-collapse-item__content {
              padding-bottom: 30px;

              div {
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
        }

      }
    }

    #content8 {
      height: auto;
      padding-bottom: 0.68rem;

      .boxC8 {
        margin-top: 1.01rem;

        h2 {
          margin-bottom: 0;
        }

        p {
          font-size: 0.14rem;
          margin: 0.2rem 0 0.34rem;
        }
      }
    }

    .contBase {
      h2 {
        font-size: 0.21rem;
        margin-bottom: 0.4rem;
      }
    }

    #Species, #Airdrop, #FAQ {
      margin-top: 0.5rem;
      padding-top: 1rem;
    }

    #Tier, #Team {
      margin-top: 0;
      padding-top: 1rem;
    }

    .h2Block {
      margin-bottom: 0.4rem;
      font-size: 0.21rem !important;
      padding: 0 0.3rem;
      line-height: 0.24rem !important;
    }

  }
  .footer {
    padding: 0;

    .footerHeader {
      padding-top: 0.41rem;

      a {
        h1 {
          width: 0.72rem;
          height: 0.67rem;
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/TORAIcon/TORAicon@3x.png') no-repeat;
          background-size: contain;
          text-indent: -200%;
          margin: 0 auto;
          overflow: hidden;
        }
      }

      ul {
        padding: 0.3rem 0.8rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          a {
            display: inline-block;
            width: 0.36rem;
            height: 0.36rem;

          }
        }

        li:nth-of-type(1) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Openseaicon@3x.png') no-repeat;
          background-size: contain;
        }

        li:nth-of-type(2) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Discordicon@3x.png') no-repeat;
          background-size: contain;
        }

        li:nth-of-type(3) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Twittericon@3x.png') no-repeat;
          background-size: contain;
        }
      }
    }

    .footerTitle {
      height: 0.85rem;
      margin-top: 0.3rem;

      p {
        width: 100%;
        font-size: 0.12rem !important;
        text-align: center;
        line-height: 0.85rem;
      }
    }

  }
}

@media all and (min-width: 769px) {
  .listBox, .teamList {
    grid-template-columns: repeat(2, 50%);
    .meet {
      padding: 0 10px 0;
    }
  }
  .w {
    width: calc(100% - 100px);
  }
  .main {
    #content1 {
      padding-bottom:170px;
      .c1W {
        position: relative;
        padding-top:50px;
        text-align: center;

        .c1Left {
          float: none;
          width:549px;
        }
        .c1Right {
          float: none;
          width: 80%;
          margin: 0 auto;
          h2 {
            text-align: center;
          }

          p {
            text-align: center;
            margin: 20px 0 34px;
          }

          .btn {
            margin: 0 auto;
          }
        }
      }

    }
    #content2{
      #IntroductionBox{
        margin-top: -227px;
      }
      #WorldBox {
        h2 {
          text-align: center;
          width: 100%;
          margin-bottom: 100px;
        }
      }
    }

    #content5 {
      #Roadmap {
        .boxC5 {
          width: 70%;

          &::before {
            height: 93%;
          }
        }
      }
    }
    #content6 {
      .teamList {
        &>div {
          padding-bottom: 50px;
        }
      }
    }

  }
  .footer {
    padding: 0;


    .footerHeader {
      padding-top: 41px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        h1 {
          width: 72px;
          height: 67px;
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/TORAIcon/TORAicon@3x.png') no-repeat;
          background-size: contain;
          text-indent: -200%;
          margin: 0 auto;
          overflow: hidden;
        }
      }

      ul {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          a {
            display: inline-block;
            width: 36px;
            height: 36px;

          }
        }

        li:nth-of-type(1) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Openseaicon@3x.png') no-repeat;
          background-size: contain;
        }

        li:nth-of-type(2) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Discordicon@3x.png') no-repeat;
          background-size: contain;
        }

        li:nth-of-type(3) a {
          background: url('https://tora-assets.oss-cn-hongkong.aliyuncs.com/images/navigation/SocialIcon/Twittericon@3x.png') no-repeat;
          background-size: contain;
        }
      }
    }

    .footerTitle {
      height: 85px;
      margin-top: 30px;

      p {
        width: 100%;
        font-size: 16px !important;
        text-align: center;
        line-height: 85px;
      }
    }

  }
}

@media all and (min-width: 1025px) {
  .listBox,.teamList {
    grid-template-columns: repeat(4, 25%);
    .meet {
      padding: 0 15px 0;
    }
  }

  .w {
    width: calc(100% - 200px);
    max-width: 1440px;
  }
  .main {
    #content1 {
      padding-bottom:327px;
      .c1W {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        text-align: right;

        .c1Left {
          width:600px;
        }

        .c1Right {
          width: 30%;
          margin:130px 0 0;
          h2 {
            text-align: left;
          }

          p {
            text-align: left;
            margin: 20px 0 34px;
          }
          .btn {
            margin: 0;
          }
        }
      }
    }
    #content2{
      #IntroductionBox{
        margin-top: -390px;
      }
      #WorldBox {
        h2 {
          text-align: left;
          width: 100%;
          margin-bottom: 55px;
        }
      }
    }
    #content4 {
      #carouse {
        width: 90%;
        max-width: 1640px;
      }
    }
    #content6 {
      .teamList {
        &>div {
          padding-bottom: 70px;
        }
      }
    }

  }
}

@media all and (min-width: 1400px){
  .main{
    #content1{
      .c1W{
        .c1Left{
          width:769px;
        }
        .c1Right{
          width:570px;
          margin-top:170px;
        }
      }
    }

    #content2{
      #IntroductionBox{
        margin-top: -407px;
      }
    }
  }
}