.MYNFTS {
  .my-nft-content {
    // padding: 99px 0;
    background: #EDEEF5;
  }
}
@media all and (max-width: 769px) {
  .MYNFTS {
    padding-top: .59rem;
  }
  .ModuleBanner {
    display: block!important;
  }
}
@media all and (min-width: 769px) {
  .MYNFTS {
    padding-top: 99px;
    .my-nft-content {
      background: #EDEEF5;
    }
    
  }
}
@media all and (min-width: 1025px) {
  .MYNFTS {
    padding-top: 99px;

  }
}



