.MYNFTS {
  .my-nft-content {
    background: #EDEEF5;
  }
}
@media all and (max-width: 769px) {
  // .MYNFTS {
  //   .my-nft-content {
  //     // padding-top: .59rem;
  //   }
  // }
  .ModuleBanner {
    display: block!important;
  }
}
@media all and (min-width: 769px) {
  .MYNFTS {
    .my-nft-content {
      padding-top: 99px;
     
    }
    
  }
}
@media all and (min-width: 1025px) {
  .MYNFTS {
    .my-nft-content {
      padding-top: 99px;

    }
  }
}



