@font-face {
  font-family: "iconfont"; /* Project id 3040062 */
  src: url('iconfont.woff2?t=1644559480146') format('woff2'),
       url('iconfont.woff?t=1644559480146') format('woff'),
       url('iconfont.ttf?t=1644559480146') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhi:before {
  content: "\e636";
}

.icon-cancel-1-copy:before {
  content: "\e61a";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-caidanlan:before {
  content: "\e79c";
}

